.tituloCadastrar{
    font-weight: bold;
}

.fotoCadastrar{
    width: max(500px, 65%);
    margin: 0 auto;
    display: block;
  }

  .botaoCadastrar{
    text-decoration: none;
  }
  .botaoCancelar{
    margin-left: 20px ;
  }